[Desktop Entry]
Name=System Monitor
Name[zh_CN]=系统监视器
Name[tr_TR]=Sistem İzleyici
Name[bo_CN]=རྒྱུད་ཁོངས་སོ་ལྟ་ཆས།
Name[ug_CN]=سىستېما كۆزەتكۈچ
Name[kk_KZ]=سەستيما كۇزەتۋشى
Name[ky_KG]=ساامالىق  كۉزۅتكۉچ
GenericName=System Monitor
GenericName[zh_CN]=系统监视器
GenericName[bo_CN]=རྒྱུད་ཁོངས་སོ་ལྟ་ཆས།
GenericName[ug_CN]=سىستېما كۆزەتكۈچ
GenericName[kk_KZ]=سەستيما كۇزەتۋشى
GenericName[ky_KG]=ساامالىق  كۉزۅتكۉچ
Comment=System Monitor
Comment[zh_CN]=系统监视器
Comment[tr_TR]=Sistem İzleyici
Comment[bo_CN]=རྒྱུད་ཁོངས་སོ་ལྟ་ཆས།
Comment[ug_CN]=سىستېما كۆزەتكۈچ
Comment[kk_KZ]=سەستيما كۇزەتۋشى
Comment[ky_KG]=ساامالىق  كۉزۅتكۉچ
Keywords=guide; 
Exec=/usr/bin/lingmo-system-monitor
Icon=lingmo-system-monitor
Terminal=false
Type=Application
NoDisplay=false
Categories=System;Utility;
StartupNotify=false
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_plasma_activation_feedback,org_kde_kwin_keystate,org_kde_kwin_fake_input,zkde_screencast_unstable_v1